div(ng-include="'partials/header'")
{{todosCtrl.error}}
div.row(ng-init="todosCtrl.fetchTodos()")
    h1.heading TODOS
div.row()
  h3 Create Mission!
  form.form-inline
      input(type="text", ng-model="todosCtrl.mission.mission" ng-keydown="todosCtrl.error = ''")
      button(ng-click="todosCtrl.createMission(todosCtrl.mission)" ng-hide="todosCtrl.missionActive").btn.btn-success Create Mission!
      button(ng-click="todosCtrl.saveMission(todosCtrl.mission)" ng-show="todosCtrl.missionActive").btn.btn-primary Update Mission!
      button(ng-click="todosCtrl.deleteMission(todosCtrl.mission)").btn.btn-warning Delete Mission!
      button(ng-click="todosCtrl.completeMission(todosCtrl.mission)" ng-show="todosCtrl.missionActive").btn.btn-warning Complete Mission!
div(ng-repeat="todo in todosCtrl.todos" ng-init="todo.saved = true").row.flex.todo 
    input(type="text" ng-model="todo.todo" ng-blur="todosCtrl.saveTodo(todo); todo.saved = true" ng-focus="todo.saved = false" ng-class="{ 'todo__text--complete' : todo.completed }").todo__text
    {{todo.mission}}
    input(type="checkbox" ng-model="todo.completed" ng-change="todosCtrl.completeTodo(todo)")
    div.b-todo__icons
      i(ng-click="todosCtrl.toggleMissionAssign(todo)" ng-show="todosCtrl.missionActive") YO!
      i(ng-click="todosCtrl.deleteTodo(todo)" tabindex="-1").material-icons.todo__icons.todo__icons--delete clear
      i(ng-hide="todo.saved" tabindex="-1").material-icons.todo__icons.todo__icons--saved mode_edit
      i(ng-show="todo.saved" tabindex="-1").material-icons.todo__icons.todo__icons--edit save
div.row
  .flex.todo__b-create
    form(ng-submit="todosCtrl.createTodo(todo)").form-inline
        input(type="text", ng-model="todo.todo" placeholder="{{todosCtrl.encouragement}}" ng-keydown="todosCtrl.error = ''").todo-create__input
div(ng-include="'partials/footer'")


div(ng-show="todosCtrl.missionRequiresCheckout")
  p Hey! You haven't completed the Todos for this mission yet.
  div(ng-repeat="todo in todosCtrl.remainingMissionTodos")
    input(type="text" ng-model="todo.todo" ng-focus="todo.saved = false" ng-class="{ 'todo__text--complete' : todo.completed }").todo__text
    input(type="checkbox" ng-model="todo.completed" ng-change="todosCtrl.completeTodo(todo)")
    i(ng-click="todosCtrl.deleteTodo(todo)" tabindex="-1").material-icons.todo__icons.todo__icons--delete clear
  button(ng-click="todosCtrl.checkoutMission(todosCtrl.remainingMissionTodos, todosCtrl.mission)").btn.btn-success Complete Mission!
