.inner-wrap 
  div(ng-include="'partials/header'")
  {{todosCtrl.error}}
  div.row(ng-init="todosCtrl.fetchTodos()")
    .col-sm-12
      .mission-wrap
        ui-view
        div(ng-if="todosCtrl.missionActive" ng-include="'partials/activeMission'")
      hr.m-y-2.hr
      div(ng-include="'partials/activeTodos'")
