doctype
html
  head
    title Hello!
    base(href='/')
    link(rel="stylesheet", href="bower_components/bootstrap/dist/css/bootstrap.min.css")
    link(rel="stylesheet", href="https://fonts.googleapis.com/css?family=Old+Standard+TT:400,400italic,700", type="text/css")
    link(href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet")
    link(rel="stylesheet", href="app.css")
  body(ng-app="meanTodo")
    block content
    
