script(src="bower_components/angular/angular.min.js")
script(src="bower_components/angular-ui-router/release/angular-ui-router.min.js")
script(src="app.js")
script(src="factories/auth.js")
script(src="factories/mission.js")
script(src="factories/settings.js")
script(src="factories/todo.js")
script(src="controllers/authCtrl.js")
script(src="controllers/journeyCtrl.js")
script(src="controllers/reportsCtrl.js")
script(src="controllers/todosCtrl.js")
script(src="controllers/userCtrl.js")

script(src="bower_components/moment/min/moment.min.js")
